html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0.2em 1em;
    line-height: 1.5em;
}

img {
  width: 100px;
}

h1, h2 {
    font-family: Varela Round, sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 3em;
    line-height: 1.25em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 2em;
    margin-bottom: 0;
}


.content-wrap {
  max-width: 600px;
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
}

textarea {
  width: 100%;
}


.btn {
  color: #FFFFFF;
  font-size: 1.25em;
  background: #FF5678;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline; 
    list-style-type: none;
    padding-right: 1em;
}

nav * a {
    color: #FF5678;
    font-size: 1.25em;
}
